{{ define "main" }}
<div class="search" id="search">
    <input type="text" placeholder="Pesquisar..." v-model="txt" @keyup="search()" @blur="close()" maxlength="50" minlength="3">
    <div class="search-results" :style="{'display': showresult?'block':'none'}">
        <a v-for="item in result" :href="item.url">{{ printf "{{ item.title }}" }}</a>
    </div>
</div>
<!-- Noticias -->
<section class="content mainSection postContent">
    <div class="contentWrapper">
        <article>
            <div class='postContentWrapper'>
                <h1>{{ .Title }}</h1>

                <h3 class='postDescription'>{{ .Description }}</h3>

                <p class='publishDate'>
                    {{ dateFormat $.Site.Params.posts.dateFormat .Date }}
                </p>

                <section class="postTags">
                    {{ .Render "tags" }}
                </section>

                <picture class='heroImg'>
                    <img src='{{ $.Site.BaseURL }}images{{ .Params.image }}' alt='{{ .Title }}' />
                </picture>

                {{ .Content }}
            </div>
        </article>


        <aside class='relatedPosts' id='relatedPosts'>
            <h3>Posts relacionados</h3>
            {{ $related := .Site.RegularPages.Related . | first 2 }}
            {{ with $related }}
            <ul class='relatedPostsList'>
            	{{ range . }}
            	<li class='relatedPostsListItem'>
                    <h4>{{ .Title }}</h4>
                    <p>{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}index.html">Leia mais</a>
                </li>
            	{{ end }}
            </ul>
            {{ else }}
            <p>Nenhum post relacionado</p>
            {{ end }}
            <section class="ctaCadastro">
                <h3>Afilie-se agora</h3>
                <p>Fa&ccedil;a parte da maior rede de afilia&ccedil;&atilde;o da am&eacute;rica latina.</p>
                <a href="{{ $.Site.Params.assetsUrl }}cadastro-afiliado.html">Cadastre-se agora</a>
            </section>
        </aside>

        <div class="postNavigation">
            {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}index.html" class='postNavigationLink'>&lt; Pr&oacute;ximo</a>
            {{ end }}
            <a href="{{ $.Site.BaseURL }}index.html" class='postNavigationLink'>Voltar</a>
            {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}index.html" class='postNavigationLink'>Anterior &gt;</a>
            {{ end }}
        </div>
    </div>
</section>
<!-- Noticias End-->
{{ end }}
