<footer id="footer" class="footer dark">
    <div class="offices">
        <div class="office">
            <img src="https://afilio.com.br/images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
            <div class='address'>
                <p>Rio de Janeiro</p>
                <a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
                <a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">R. Helios Seelinger, n&ordm; 155, 4&ordm; Andar - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
            </div>
        </div>
        <div class="office">
            <img src="https://afilio.com.br/images/sao-paulo.jpg" alt="S&atilde;o Paulo">
            <div class='address'>
                <p>S&atilde;o Paulo</p>
                <a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
                <a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">R. Uba&iacute;ra, n&ordm; 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
            </div>
        </div>
    </div>
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col-md-9">
                <div class="copyrights-menu copyright-links clearfix">
                    <a href="https://afilio.com.br/index.html">In&iacute;cio</a>
                    <a href="https://afilio.com.br/afiliados.html">Afiliados</a>
                    <a href="https://afilio.com.br/anunciantes-agencias.html">Anunciantes e Ag&ecirc;ncias</a>
                    <a href="https://afilio.com.br/poder-da-afiliacao.html">O poder da afilia&ccedil;&atilde;o</a>
                    <a href="https://afilio.com.br/sobre-afilio.html">Sobre Afilio</a>
                    <a href="https://afilio.com.br/noticias/index.html">Not&iacute;cias</a>
                    <a href="https://afilio.com.br/carreiras.html">Carreiras</a>
                    <a href="https://afilio.com.br/contato.html">Contato</a>
                    <a href="https://afilio.com.br/faq.html">FAQ</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fright clearfix">
                    <a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="center">Copyright &copy; 2019 Afilio S/A.</div>
        </div>
        <!-- #copyrights end -->
    </div>
</footer>
<!-- #footer end -->
