<!-- Header -->
<header id="header" class="header transparent-header page-section dark sticky-header pageFixed">
    <div id="header-wrap">
        <div class="container-fullwidth clearfix">
            <div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
            <!-- Logo -->
            <div id="logo">
                <a href="https://afilio.com.br/" class="standard-logo" data-dark-logo="https://afilio.com.br/images/logo-afilio.png"><img src="https://afilio.com.br/images/logo-afilio.png" alt="Logo Afilio"></a>
                <a href="https://afilio.com.br/" class="retina-logo" data-dark-logo="https://afilio.com.br/images/logo-afilio.png"><img src="https://afilio.com.br/images/logo-afilio.png" alt="Logo Afilio"></a>
            </div>

            <!-- logo end -->
            {{ partial "menu.html" . }}
        </div>
    </div>
</header>
<!-- header end -->
