<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ $.Page.Title }} | Afilio</title>
    <link rel="icon" href="https://www.afilio.com.br/images/icons/favicon.png" />

    <meta name="description" content="{{ with $.Page.Description }} {{ $.Page.Description }} {{ else }} Saiba das novidades que a Afilio tem para contar! {{ end }}" />

    <!-- Google Search Console Tag -->
    <meta name="google-site-verification" content="RFbMxCgSA40A4I3STD6qIRnjYbfpRuarfUvLVkK1qOo" />
    <!-- End Google Search Console Tag -->
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.afilio.com.br/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="https://www.afilio.com.br/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="https://www.afilio.com.br/style.css" type="text/css" />
    <link rel="stylesheet" href="https://www.afilio.com.br/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="https://www.afilio.com.br/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="https://www.afilio.com.br/css/responsive.css" type="text/css" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>
