<!-- Primary Navigation -->
<nav id="primary-menu">
    <ul>
        <li><a href="{{ $.Site.BaseURL }}index.html">In&iacute;cio</a></li>
        <li><a href="{{ $.Site.BaseURL }}afiliados.html">Afiliados</a></li>
        <li><a href="{{ $.Site.BaseURL }}anunciantes-agencias.html">Anunciantes e Ag&ecirc;ncias</a></li>
        <li><a href="{{ $.Site.BaseURL }}poder-da-afiliacao.html">O poder da afilia&ccedil;&atilde;o</a></li>
        <li>
            <a href='#' data-select='about-menu'>Sobre Afilio</a>
            <ul>
                <li><a href="{{ $.Site.BaseURL }}sobre-afilio.html#nossahistoria">Nossa hist&oacute;ria</a></li>
                <li><a href="{{ $.Site.BaseURL }}sobre-afilio.html#lideres">Nossos l&iacute;deres</a></li>
                <li><a href="{{ $.Site.BaseURL }}sobre-afilio.html#cj">CJ | Commission Junction</a></li>
                <li><a href="{{ $.Site.BaseURL }}sobre-afilio.html#instituto">Instituto Afilio</a></li>
                <li><a href="{{ $.Site.BaseURL }}carreiras.html">Carreiras</a></li>
                <li><a href="{{ $.Site.BaseURL }}cases.html">Cases</a></li>
            </ul>
        </li>
        <li><a href="index.html" class='marcador'>Not&iacute;cias</a></li>
    </ul>
</nav>
<!-- primary-menu end -->
